.backgroundImg{
    background-image: url("../../../assets/currentenv/earth.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    margin-left: 50px;
}
.container{
    position: relative;
    
}
.left-middle{
    /* position: absolute;
    top: 40%;
    left: 12%; */
    font-size: 60px;
    font-weight: bold;
}

.tile-flex{
  margin-top:30px;
  /* center the element */
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  min-height: 10em;
  width: 75%;
  margin-bottom: 30px;
}

.tile-flex img{
  width: 180px;
}

.tile-flex h2{
  margin-top: 30px;
  font-weight: bold;
}

.tile-flex p{
  text-align: left;
  display: flex;
  width: 70%;
  justify-content: center;
  margin-left: 60px;
  font-size: 14px;
}

.emission{
  display: flex;
  background-color: #F4F4F4;
  padding-bottom: 40px;
}
.vis-emission{
  padding-left: 90px;
}

.text-area-emission{
  margin-left: 60px;
  margin-top: 40px;
  text-align: left;
  width: 27%;
  font-size: 19px;
}

.health-text-area{
  font-size: 20px;
  text-align: left;
}

.text-start{
  margin-top: 5px;
}




/* emission map*/
/* MAP */
#map {
    fill: #e8e7e7;
    stroke: gray;
    stroke: black;
    width: 40%;
    height: 482px;
    stroke-width: .3;
  /*   stroke-dasharray: 1; */
  }
  
  #map svg {
    background:#e1e8ea;
    height: calc(100% - 45px);
  }
  
  #parkChoices {
    /* display: none; */
    border: 2px solid #cecece;
    /* position: absolute; */
    max-height: 350px;
    padding: 10px 20px;
    /* width: 300px; */
    top: 40px;
    background: white;
    overflow: scroll;
    z-index: 100;
  }
  
  .parkChoice {
    font-size: 15px;
    padding: 5px 0;
    cursor: pointer;
  }
  
  #court {
    flex: 1;
    margin-right:5px;
  }
  
  #court input {
   font-size: 14px;
   width: 100%;
   color: rgba(117, 117, 117);
  }

  .cur-p{
    margin-top: 20px;
    font-size: px;
  }


  