

.question-container{
  background: linear-gradient(180deg, #E9DEFA 0%, #FBFCDB 100%);
  height:610px;
  margin: 0 auto;
}

.question-start__image__car{
  width: 200px;
  margin-top: 103px;
}

.question-start__desc{
  text-align: center;
  vertical-align: middle;
  margin-top: 37px;
  line-height: 48px;
  font-size: 40px;
  font-weight: bold;
}

.question-start__button{
  margin-top: 66px;
  background: linear-gradient(269.55deg, #43E97B 6.53%, #38F9D7 93.26%); /* Green */
  color: white;
  border: none;
  width: 335px;
  height: 58px;
  text-align: center;
  border-radius: 29.42px;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  cursor: pointer;

}

.question__section-title{
  padding-top: 65px;
  font-weight: bold;
  font-size: 35px;
}

.question__progress{
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
}

.question__progress__bg{
  background: #38F9D7
}

.question__title__area{
  display: flex;
  font-size: 30px;
  margin-top: 25px;
  margin-left: 180px;
  font-weight: bold;
}

.question__title__image{
  width: 33px;
  height: 33px;
  margin-top: 7px;
  margin-left: 5px;
}



.question__range-label{
  
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 925px;
  font-weight: bold;
}

.question__range-label--q3gap{
  gap: 960px;
}

.question__range__container{
  margin-top: 50px;
}

.question__range{
  width: 1000px;
  margin: 0 auto;
}

.question__button__area{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 200px;
}

.question__button__area--q4mt{
  padding-bottom: 150px;
}

.question__button{
  background: linear-gradient(269.55deg, #43E97B 6.53%, #38F9D7 93.26%); /* Green */
  color: white;
  border: none;
  width: 150px;
  margin-top: 30px;
  text-align: center;
  border-radius: 29.42px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  height: 60px;
  font-weight: bold;
}

.question-one__hint{
  font-size: 13px;
  text-align: center;
}
.question-one__car-display{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 80px;
}

.question__output__container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.question__output__image{
  height: 70px;
}

.question__output__oval-shape{
  margin-left: 20px;
  margin-top: 10px;
  width: 150px;
  height: 50px;
  background: #EBEBEB;
  border-radius: 29px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;  

}

.question__output__meric{
  margin-top: 10px;
  margin-left: 5px;
  font-size: 30px;
}

.question__selection-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}





.flex-image{
  border: transparent 4px solid;
  margin-bottom: 50px;
  width: 220px;
  /* margin-left: auto;
  margin-right: auto; */
  display:table-cell; vertical-align:middle; text-align:center

}
.flex-image-selected{
  border: #00AF12 4px solid ;
  margin-bottom: 50px;
  width: 220px;
  display:table-cell; vertical-align:middle; text-align:center
}

.text-center{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
}




.vis{
  margin-top: 50px;
  text-align: left;
}
.vis-word{
  text-align: left;
  font-size: 20px;
  text-align: center;
}
.vis-word span{
  font-weight: bold;
  font-size: 25px;
  
}

.vis-chart{
  justify-content: center;
  gap: 120px;
}

.card-80{
  margin-top: 20px;
  width: 1266.21px;
  height: 350.74px;
  background: #F4F4F4;
  border-radius: 47px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  font-size: 19px;
}

.card-80 img{
  width: 614px;
  padding-left: px;
}

.card-80 h2{
  font-weight: bold;
  padding-top: 30px;
  text-align: left;
}
.card-80 p{
  width: 40%;
  padding-left: 40px;
  margin-top: 60px;
  text-align: left;
}

.help-tooltip{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 27px;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
  padding-left: 15px;
  padding-Right: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.help-tooltip-hover{
  display:block
}

.help-tooltip-unhover{
  display:none
}

.carImage{
  border: transparent 4px solid;
  margin-bottom: 30px;
}
.carImageSelected{
  border: #00AF12 4px solid ;
  margin-bottom: 30px;
}

.gen-container{
  background: linear-gradient(180deg, #E0EAFC 0%, rgba(207, 222, 243, 0) 100%);
  
}

.gen__title{
  text-align: center;
  font-size: 40px;
  padding-top: 48px;
  font-weight: bold;
}

.gen__desc{
  font-weight: bold;
  font-size: 28px;
  margin-top: 20px;
  text-align: left;
  padding-left: 13%;
  padding-right: 10%;
}

.gen__content{
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
}

.gen-left__subtitle{
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.gen-left__smallbutton{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;

}
.gen-left__smallbutton--purple{
  background: linear-gradient(180deg, #7474BF 0%, #348AC7 100%);
  border: 1px solid #C4C4C4;
  border-radius: 25px;
  color:white;
  font-size: 24px;
  font-weight: bold;
  width: 188px;
}

.gen-left__smallbutton--white{
  background: white;
  border: 1px solid #C4C4C4;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
  width: 188px;

}

.gen-left__button{
  background: linear-gradient(180deg, #7474BF 0%, #348AC7 100%);
  border: 1px solid #C4C4C4;
  border-radius: 25px;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 5px;
}
.gen-left__button span{
  color:white;
  font-size: 24px;
  font-weight: bold;
}

.gen-left__button img{
  width: 32px;
  padding-bottom: 8px;
  margin-right: 15px;
}

.gen-right__title{
  font-size: 32px;
  font-weight: bold;
}

.gen-right__select{
  height: 30px;
  font-size: 20px;
}

.genc-container{
  margin-top: 100px;
  font-size: 100px;
}

.fff{
  margin-top: 100px;
  font-size: 100px;
}


