.oval-grey-output{
    width: 150px;
    height: 50px;
    background: #EBEBEB;
    border-radius: 29px;
    text-align: center;

}

.question-container{
  background: linear-gradient(180deg, #E9DEFA 0%, #FBFCDB 100%);
  height:573px;
  margin: 0 auto;
}

.question-start__image__car{
  width: 200px;
  margin-top: 53px;
}

.question-start__desc{
  text-align: center;
  vertical-align: middle;
  margin-top: 37px;
  line-height: 48px;
  font-size: 40px;
  font-weight: bold;
}

.question-start__button{
  margin-top: 66px;
  background: linear-gradient(269.55deg, #43E97B 6.53%, #38F9D7 93.26%); /* Green */
  color: white;
  border: none;
  width: 335px;
  height: 58px;
  text-align: center;
  border-radius: 29.42px;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  cursor: pointer;

}

.question-one__section-title{
  padding-top: 65px;
  font-weight: bold;
  font-size: 40px;
}

.question__progress{
  width: 600px;
  margin: auto;
  margin-left: 500px;
  margin-top: 30px;
}










.car-display{
  margin-top: 30px;
  gap: 150px;

}

.range-label{
  font-size: 20px;
  margin-left: 280px;
  font-weight: bold;
}

.flex-image{
  border: transparent 4px solid;
  margin-bottom: 50px;
  width: 220px;
  /* margin-left: auto;
  margin-right: auto; */
  display:table-cell; vertical-align:middle; text-align:center

}
.flex-image-selected{
  border: #00AF12 4px solid ;
  margin-bottom: 50px;
  width: 220px;
  display:table-cell; vertical-align:middle; text-align:center
}

.text-center{
  font-size: 20px;
  text-align: center;
}

.button-submit{
  margin-top: 50px;
  background: linear-gradient(269.55deg, #43E97B 6.53%, #38F9D7 93.26%); /* Green */
  color: white;
  border: none;
  width: 150px;
  text-align: center;
  border-radius: 29.42px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  height: 60px;
  font-weight: bold;
}

.vis{
  margin-top: 50px;
  text-align: left;
}
.vis-word{
  text-align: left;
  font-size: 20px;
  text-align: center;
}
.vis-word span{
  font-weight: bold;
  font-size: 25px;
  
}

.vis-chart{
  justify-content: center;
}

.card-80{
  margin-top: 20px;
  width: 1266.21px;
  height: 350.74px;
  background: #F4F4F4;
  border-radius: 47px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  font-size: 19px;
}

.card-80 img{
  width: 614px;
  padding-left: px;
}

.card-80 h2{
  font-weight: bold;
  padding-top: 30px;
  text-align: left;
}
.card-80 p{
  width: 40%;
  padding-left: 40px;
  margin-top: 60px;
  text-align: left;
}

.help-tooltip{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 27px;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
  padding-left: 15px;
  padding-Right: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.help-tooltip-hover{
  display:block
}

.help-tooltip-unhover{
  display:none
}

.carImage{
  border: transparent 4px solid;
  margin-bottom: 30px;
}
.carImageSelected{
  border: #00AF12 4px solid ;
  margin-bottom: 30px;
}
