.banner{
    background-image: url("../../../assets/homepage/homepage-car.png");
    background-size: cover;
    /* height: 100vh; */
    height: 573px;
    min-width: 100%;
    background-position:top;
    background-size:100% auto;
    background-repeat: no-repeat;
}

.banner__title{
    font-size: 80px;
    font-weight: bold;
    color: white;
    padding-top: 162px;
}

.banner__desc{
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.banner__button{
    background: linear-gradient(269.55deg, #43E97B 6.53%, #38F9D7 93.26%); /* Green */
    color: white;
    border: none;
    width: 289px;
    text-align: center;
    border-radius: 29.42px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    height: 65px;
    margin-top: 45px;
}

.section-title{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 200px;
    margin-top: 50px;
}

.tiles{
    margin-top:70px;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 75%;
    display: flex;
    justify-content: center;
}

.tiles__title{
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
}

.tiles__photo{
    width: 45%;
}

.tiles__text{
    text-align: left;
    display: flex;
    width: 70%;
    justify-content: center;
    margin-left: 60px;
    font-style: 20px;
    margin-top: 40px;
}

.tiles__item{
    width: 33%;

}

.fff{
    margin-top: 40px;
    font-size: 40px;
}

