.container {
    height: 800px;
}

.banner2{
    /* background-image: url("../../../assets/homepage/homepage-car.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; */
    /* background: url("../../../assets/homepage/homepage-car.png") no-repeat center center fixed;  */
    background-image: url("../../../assets/about/job-5382501.jpg");

    /* background-image: url(./assets/space-bg.jpg); */
    background-size: cover;
    /* background-position: top; */
    height: 500px;
    /* min-width: 100%; */
    /* position: absolute; */
    overflow: hidden;
    background-size:100% 600px;
    background-repeat: no-repeat;
    /* Full height */
    /* width: 1200px; */
    /* height: 100vh; */
  
    /* Center and scale the image nicely */
    /* background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px; 
    width: 100vw;
    position: absolute; */
}

.tile-flex{
    margin-top:20px;
    /* center the element */
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 75%;
}

.tile-flex img{
    width: 250px;
}

.tile-flex h2{
    margin-top: 20px;
    font-weight: bold;
}

.tile-flex p{
    text-align: left;
    display: flex;
    width: 70%;
    justify-content: center;
    margin-left: 60px;
}

/* * {
    margin: 0;
    padding: 0;
  }
/*   
  div {
    cursor: pointer;
  } */
  
  /* .isMain {
    display: flex;
    margin-top: 30px;
    min-height: 687px;
    max-height: 687px;
    padding-right: 90px;
  } */
  
/*
  .isImg {
    width: 300px;
    height: 400px;
    margin-left: 13%;
    min-width: 20%;
    max-width: 20%;
    background-color: beige;
    /* padding-right: 10%; */
    /* background-size: cover; 
  }*/
  
  /* .padLeft {
      padding-left: 13%;
      margin-left: 13%;
  }

  .padLeft {
    padding-left: 13%;
}

  .isRight {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 30px;
    margin-top: 30px;
    min-width: 650px;
    position: relative;
  }


.left {
    text-align: left;
    width: 80%;
}

.right {
    text-align: right;
    width: 80%;
} */