
.pre-banner{
    background-image: url("../../../assets/prediction/prediction-cover.jpg");
    background-size: cover;
    /* height: 100vh; */
    height: 610px;
    min-width: 100%;
    background-position:top;
    background-size:100% auto;
    background-repeat: no-repeat;
    /* background-color:#fff;
    filter:Alpha(Opacity=60); */
}

.pre-info-card {
    width: 75%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.pre-info-white {
    background-color: white;
    padding-top: 20px;
    color: black;
    padding-bottom: 20px;
}

.pre-info-green {
    background-color: #00A19D;
    padding-top: 20px;
    color: white;
    padding-bottom: 20px;
}

.pre-info-img {
    width: 30%;
}

.pre-info-img p {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    color: #FFB344; 
}

.pre-info-img img {
    width: 150px;
}

.pre-info-desc {
    width: 70%;
    text-align: left;
}

.pre-info-desc h2 {
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
}

.pre-info-desc p{
    font-size: 20px;
    font-family: 'Century Gothic', sans-serif;
    padding-top: 30px;
}

.pre-info-desc ul{
    font-size: 20px;
    font-family: 'Century Gothic', sans-serif;
    padding-top: 0px;
}

.pre-right {
    padding-right: 20px;
}

.pre-question-desc {
    background-color: #FFB344;
    height: 150px;
}

.pre-question-desc p {
    width: 70%;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    margin: auto;
    color: white;
    padding-top: 25px;
}

.pre__title{
    font-size: 80px;
    padding-top: 170px;
    color: white;
    font-weight: bold;
}

.pre-vis__title{
    font-size: 24px;
    padding-top: 30px;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
}
.pre-vis-container{
    margin: 0 auto;
    justify-content: center;
    margin-top: 3.76rem;
}

.pre-vis__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    width: 75%;
    margin: auto;
    gap: 1rem;
}

.pre-vis__body p{
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Century Gothic', sans-serif;
    text-align: left;
}

.pre-vis__body {
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Century Gothic', sans-serif;
    text-align: left;
}

.pre-vis__option{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.pre-vis__option__button--green{
    width: 10.8rem;
    height: 1.7rem;
    background: #00A19D;
    border-radius: 27px;
    border: none;
    color: white;
}

.pre-vis__option__button--white{
    width: 10.8rem;
    height: 1.7rem;
    background: white;
    color: #00A19D;
    border-radius: 27px;
    border: 1px solid #00A19D ;
}

.pre-vis__split__left{
    margin-top: 1px;
}

.pre-vis__split__right{
    width: 30%
}

.pre-vis__split__desc{
    text-align: left;
}

.pre-vis__split__title{
    text-align: center;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 1.5rem
}