.header{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 30px;

}

.menu-fixed{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
}

.navbar{
    display: flex;
    justify-content: left;
    height:"42px";
}

.navbar-link{
    display: flex;
    font-size: 15px;
    line-height: 50px;
    list-style-type: none;
}

.navbar-link a{
    display: block;
    text-decoration: none;
    color: black;
    background-color: #FAFAFA;
    width: 150px;
    padding: 0;
}

.navbar-link ul{
    font-weight:"bold";
}

.navbar-link a:hover{
    background-color:#C4C4C4;
    color: white;
    border: #FBFBF9 0.1px solid;
}

.navbar-link li{
    padding: 0 auto;
}

.navbar-social{
    display: flex;
    list-style-type: none;
}

.navbar-social img{
    width: 15px;
}

.navbar-social a{
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 40px;
}
.navbar-social a:hover{
    background-color:#55C595;
    color: white;
}

.footer-border-right{
    border-right: black 1px solid;
}

.footer-underline{
    text-decoration: underline;
}
.footer-text-border-right{
    border-right: black 1px solid;
}

