/* .header{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 30px;

} */

.menu-fixed{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 999;
    background-color: #FAFAFA;
    height: 50px;
    width: 100%;
}

.nav_bar{
    display: flex;
    justify-content: left;
    height:"50px";
    width: 100%;
    overflow: hidden;
}

.navbar-link{
    display: flex;
    justify-content: left;
    font-size: 15px;
    line-height: 50px;
    list-style-type: none;
    width: 100%;
}

.navbar-link a, .dropbtn{
    display: block;
    text-decoration: none;
    color: black;
    background-color: #FAFAFA;
    width:220px;
    padding: 0;
    font-weight: bold;
    border: 0;
}

.navbar-link a img{
    width: 60px;
}

.navbar-link ul{
    font-weight:"bold";
    width: 100%;
}

.navbar-link a:hover, .dropbtn:hover{
    background-color:#C4C4C4;
    color: white;
    border: #FBFBF9 0.1px solid;
    height: 50px;
    display: block;
}

.navbar-link li{
    padding: 0 auto;
}


.dropdown-content {
    display: none;
    /* position: absolute; */
    /* background-color: #f9f9f9; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    /* color: black; */
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    /* text-align: left; */
    
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

.footer-border-right{
    border-right: black 1px solid;
}

.footer-underline{
    text-decoration: underline;
}
.footer-text-border-right{
    border-right: black 1px solid;
}

