/* .header{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 30px;

} */

.menu-fixed{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 999;
    background-color: #FAFAFA;
    height: 50px;
}

.navbarr{
    display: flex;
    justify-content: left;
    height:"50px";
    min-width: 100%;
}

.navbar-link{
    display: flex;
    font-size: 15px;
    line-height: 50px;
    list-style-type: none;
}

.navbar-link a{
    display: block;
    text-decoration: none;
    color: black;
    background-color: #FAFAFA;
    width:220px;
    padding: 0;
}

.navbar-link ul{
    font-weight:"bold";
}

.navbar-link a:hover{
    background-color:#C4C4C4;
    color: white;
    border: #FBFBF9 0.1px solid;
    height: 50px;
}

.navbar-link li{
    padding: 0 auto;
}

.footer-border-right{
    border-right: black 1px solid;
}

.footer-underline{
    text-decoration: underline;
}
.footer-text-border-right{
    border-right: black 1px solid;
}

