.banner{
    background-image: url("../../assets/carguide/carguide_background.jpg");
    background-size: cover;
    /* height: 85vh; */
    height: 610px;
    min-width: 100%;
    background-position:top;
    background-size:100% auto;
    background-repeat: no-repeat;
    padding-top: 50px;
    /* opacity: 0.7; */
    font-family: "Century Gothic", CenturyGothic, century-gothic, CenturyGothic,"Century Gothic",CenturyGothic,"Century Gothic",  AppleGothic,sans-serif;
}



.banner__title{
    font-size: 4.7rem;
    padding-top: 10.3rem;
    color: #FFB344;
    font-weight: bold;
    line-height: 4.6rem;
  }
.banner_desc{
    font-size: 1.31rem;
    font-weight: bold;
    color: white;
}


.rec__tile__area{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 4%;
    padding-top: 2.11rem;
    background-color: white;
    padding-bottom: 1rem;
    width: 80%;
    margin: 0 auto;
    background: #FAFAFA;
    text-align: center;
}

.rec__tile__item{
    text-align: center;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 21%;
    /* padding: 30px 0px 20px 50px; */
    /* margin: 0 auto; */
    align-items: center;
    margin-bottom: 30px;
}

.hidden_msg{
    text-align: center;
    font-size: 1.5rem;
}

.rec__title__border{
    border: 2px solid transparent;
    display: block;
}

.rec__title__border:hover{
  border: 2px solid #00A19D;
}

.rec__tile__item__img{
    /* width: 17.8rem; */
    width: 100%;
    /* height: 9.87rem; */
    margin: 0 auto 20px auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}


.rec__tile__item__button{
    background: white;
    border-radius: 27px;
    width: 10.81rem;
    height: 1.73rem;
    margin: 20px auto 10px auto;
    font-size: 0.94rem;
    font-weight: bold;
    text-align: center;
    color: #00A19D;
    margin: 20px auto;
    border: 1px solid #00A19D;
    text-decoration: none;
}

.rec__tile__item__a{
    text-decoration: none;
}

.rec__tile__item__a:hover{
    text-decoration: none;
}

.rec__tile__item__button:hover{
  background: #00A19D;
  border-radius: 27px;
  width: 10.81rem;
  height: 1.73rem;
  margin: 20px auto 10px auto;
  font-size: 0.94rem;
  font-weight: bold;
  text-align: center;
  color: white;
  border: 1px solid #00A19D;
}
.rec__title{
  text-align: left;
  background: #FAFAFA;
  font-size: 1.316rem;
  font-weight: bold;
  margin: 1rem auto 1rem auto;
  width: 75%;
}


.rec__tile__item__desc{
    text-align: left;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.6rem;
}

/* style={{textAlign:"center", marginBottom:"3px"}} */
.rec__tile__item__desc__type{
    text-align: center;
    margin-bottom: 3px;
    font-size: 14px;
}

.rec__tile__item__desc__type__smallfont{
    text-align: left;
    margin-bottom: 3px;
    font-size: 13px;
}

.rec__bottom__title{
    font-size: 1.128rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2.21rem;
    margin-bottom: 0.75rem;
}

.rec__bottom__button{
    background: #00A19D;
    border-radius: 27px;
    width: 16.5rem;
    height: 2.44rem;
    border: none;
    margin-bottom: 2.21rem;
    color: white;
    font-size: 1.27rem;
    font-weight: bold;
}

.back__area{
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    margin: 0 auto;
    font-weight: bold;
    text-decoration: none;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    color: black;
}

.back__area:hover{
  color: #00A19D;
}

.filter__select__area{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 20px;

}

.que__block__split__select{
    width: 14rem;
    height: 2.44rem;
    background: #F2F2F2;
    border: 1px solid #00A19D;
    border-radius: 9px;
    text-align: right;
    font-size: 1.128rem;
    padding-right: 1rem;
}

.que__block__split__select2{
    width: 9rem;
    height: 2.44rem;
    background: #F2F2F2;
    border: 1px solid #00A19D;
    border-radius: 9px;
    text-align: right;
    font-size: 1.128rem;
    padding-right: 1rem;
}

.genc__bottom__orangebutton{
    color: #00A19D;
    background: white;
    border-radius: 27px;
    width: 7rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border: none;
    margin-left: 0.14rem;
    border: 1px solid #00A19D;
  }

  .genc__bottom__orangebutton:hover{
    background: #00A19D;
    color: white;

  }